<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
    <title>Add user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <header th:insert="blocks/headers :: header-admin-page"></header>

    <div class="container mt-5 mb-5 text-center">
        <h1>Регистрация нового пользователя</h1>
        <br>

        <form th:action="@{/adminpage/admin/add}" method="post" th:object="${person}" style="display: inline-block; width: 25rem;">      

            <button type="submit" class="btn btn-success">Добавить</button>
            <a href="/adminpage/users" class="btn btn-secondary">Отмена</a>
        </form>

    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>

</html>