<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <header th:insert="blocks/headers :: header-admin-page"></header>

    <div class="container mt-5 mb-5">
        <h1>Список пользователей</h1><br>
        <a href="/adminpage/user/add" class="btn btn-success">Добавить</a><br><br>

        <table class="table table-bordered table-hover">
            <thead>
                <th th:each="h : ${headers}" th:text="${h}"/>
            </thead>
            <tbody>
                <tr th:each="u, iter : ${users}"> 
                    <td th:text="${iter.index}+1"></td>
                    <td th:text="${u.sername}"></td>
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.email}"></td>
                    <td><span th:text="${u.status}" th:class="${u.status} == 'В процессе' ? 'badge badge-danger rounded-pill d-inline' : 'badge badge-success rounded-pill d-inline'"/></td>
                    <td><a th:href="'/adminpage/user/' + ${u.id}">Подробнее</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>

</html>