<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CAPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>

    <header th:insert="blocks/headers :: header-user-page"></header>

    <div class="container mt-5">
        <h1 class="text-center"> Опросник CAPS </h1>

        <form th:action="@{/questionnaires/CAPS}" th:object="${answers}" method="post">

            <div th:each="question, iter1 : ${questions}">
                <p th:text="${iter1.count} + '. ' + ${question}"/>
                
                <div>
                    <div th:each="answerOption, iter2 : ${answerOptions[iter1.index]}">
                    <input type="radio" th:id="${iter2.index}" th:field="*{answers[__${iter1.index}__]}" th:value="__${iter2.index}__" required/>
                    <label th:for="${iter2.index}" th:text="${answerOption}"/>
                    </div>
                </div>
                
                <br>
            </div> 

            <button type="submit" class="btn btn-dark">Сохранить</button>

        </form>

    </div>
   
    <div th:insert="blocks/footer :: footer"></div>
    
</body>
</html>