<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Questionnaires</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/tooltip.css" />
</head>

<body>

  <header th:insert="blocks/headers :: header-user-page"></header>

  <div class="container mt-4">
    <h2 class="text-center"> Список опросников </h2><br>
    
    <div class="p-3 mb-2 bg-light text-dark">
      <div class="row">
        <div class="col-md-8" data-toggle="collapse" href="#collapseCAPS" role="button" aria-expanded="false" aria-controls="collapseCAPS">
          <span data-toggle="tooltip" data-placement="bottom" title="Нажмите, чтобы открыть/закрыть информацию о данном опроснике">
            <strong>1. Шкала для клинической диагностики ПТСР (Clinical-administered PTSD Scale - CAPS)</strong>
          </span>
        </div>
        <div class="col-md-4 text-center"><a href="/questionnaires/CAPS" class="btn btn-primary w-50" id="btnCAPS">Пройти</a></div>
      </div>
    </div>

    <div th:if="${errorCAPSPeriod}" style="color: green">
      <p class="mb-1">Еще не прошел месяц с последнего прохождения.<br> 
      Повторно можно будет пройти опросник через 30 дней после предыдущего заполнения.</p>
    </div>
    <div th:unless="${errorCAPSPeriod}" style="color: red">
      <p class="mb-1">Необходимо пройти опрос!</p>
    </div>
    <div th:insert="blocks/collapses :: collapseCAPS"></div>


    <div class="p-3 mb-2 bg-light text-dark">
      <div class="row">
        <div class="col-md-8" data-toggle="collapse" href="#collapseIESR" role="button" aria-expanded="false" aria-controls="collapseIESR">
          <span data-toggle="tooltip" data-placement="bottom" title="Нажмите, чтобы открыть/закрыть информацию о данном опроснике">
            <strong>2. Шкала оценки влияния травматического события (Impact of Event Scale-R - IES-R)</strong>
          </span>
        </div>
        <div class="col-md-4 text-center"><a href="/questionnaires/IESR" class="btn btn-primary w-50" id="btnIESR">Пройти</a></div>
      </div>
    </div>

    <div th:if="${errorIESRPeriod}" style="color: green">
      <p class="mb-1">Еще не прошла неделя с последнего прохождения.</p>
    </div>
    <div th:unless="${errorIESRPeriod}" style="color: red">
      <p class="mb-1">Необходимо пройти опрос!</p>
    </div>
    <div th:insert="blocks/collapses :: collapseIESR"></div>


    <div class="p-3 mb-2 bg-light text-dark">
      <div class="row">
        <div class="col-md-8" data-toggle="collapse" href="#collapseBHS" role="button" aria-expanded="false" aria-controls="collapseBHS">
          <span data-toggle="tooltip" data-placement="bottom" title="Нажмите, чтобы открыть/закрыть информацию о данном опроснике">
            <strong>3. Шкала Безнадежности Бека (Beck Hopelessness Scale, BHS)</strong>
          </span>
        </div>
        <div class="col-md-4 text-center"><a href="/questionnaires/BHS" class="btn btn-primary w-50" id="btnBHS">Пройти</a></div>
      </div>
    </div>

    <div th:if="${errorBHSPeriod}" style="color: green">
      <p class="mb-1">Еще не прошла неделя с последнего прохождения.</p>
    </div>
    <div th:unless="${errorBHSPeriod}" style="color: red">
      <p class="mb-1">Необходимо пройти опрос!</p>
    </div>
    <div th:insert="blocks/collapses :: collapseBHS"></div>


    <div class="p-3 mb-2 bg-light text-dark">
      <div class="row">
        <div class="col-md-8" data-toggle="collapse" href="#collapseTOP8" role="button" aria-expanded="false" aria-controls="collapseTOP8">
          <span data-toggle="tooltip" data-placement="bottom" title="Нажмите, чтобы открыть/закрыть информацию о данном опроснике">
            <strong>4. Опросник для оценки терапевтической динамики ПТСР «Treatment Outcome PTSD Scale» (TOP-8)</strong>
          </span>
        </div>
        <div class="col-md-4 text-center"><a href="/questionnaires/TOP8" class="btn btn-primary w-50" id="btnTOP8">Пройти</a></div>
      </div>
    </div>

    <div th:if="${errorTOP8Period}" style="color: green">
      <p class="mb-1">Еще не прошла неделя с последнего прохождения.</p>
    </div> 
    <div th:unless="${errorTOP8Period}" style="color: red">
      <p class="mb-1">Необходимо пройти опрос!</p>
    </div>
    <div th:insert="blocks/collapses :: collapseTOP8"></div>

  </div>
 
  <script>
    $('[data-toggle="tooltip"]').tooltip()
  </script>

  <script th:inline="javascript">
    /*<![CDATA[*/ let errCAPS = /*[[ ${errorCAPSPeriod} ]]*/ 'errCAPS' /*]]*/;
    /*<![CDATA[*/ let errIESR = /*[[ ${errorIESRPeriod} ]]*/ 'errIESR' /*]]*/;
    /*<![CDATA[*/ let errBHS = /*[[ ${errorBHSPeriod} ]]*/ 'errBHS' /*]]*/;
    /*<![CDATA[*/ let errTOP8 = /*[[ ${errorTOP8Period} ]]*/ 'errTOP8' /*]]*/;

    if (errCAPS == true) $('#btnCAPS').attr('class', $('#btnCAPS').attr('class')+ ' disabled');
    if (errIESR == true) $('#btnIESR').attr('class', $('#btnIESR').attr('class')+ ' disabled');
    if (errBHS == true) $('#btnBHS').attr('class', $('#btnBHS').attr('class') + ' disabled');
    if (errTOP8 == true) $('#btnTOP8').attr('class', $('#btnTOP8').attr('class')+ ' disabled');
  </script>
    
</body>
</html>