<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>

    <header th:insert="blocks/headers :: header-user-page"></header>

    <div class="container mt-5">
        <h1 class="text-center">Ваши ответы</h1>

        <a th:href="@{/questionnaires/{name}/{id}/pdf(name=${questionnare},id=${results.id})}" class="btn btn-dark">Сохранить ответы в pdf-файл</a><br><br>

        <p th:text="'Дата прохождения: ' + ${results.date}"/>

        <p th:if="${questionnare.equals('BHS')} or ${questionnare.equals('TOP8')}" th:text="'Результат: ' + ${results.result}"/>
        <div th:if="${questionnare.equals('CAPS')}">
            <p th:text="'Показатель частоты: ' + ${results.resultFrequency}"/>
            <p th:text="'Показатель интенсивности: ' + ${results.resultIntensity}"/>  
        </div>
        <div th:if="${questionnare.equals('IESR')}">
            <p th:text="'Шкала «вторжение»: ' + ${results.resultIN}"/>
            <p th:text="'Шкала «избегание»: ' + ${results.resultAV}"/>
            <p th:text="'Шкала «возбудимость»: ' + ${results.resultAR}"/>
        </div>
        <br>  
 
        <div  th:each="answer, iter : ${results.answers}">
            <p th:text="${iter.count} + '. ' + ${questions[__${iter.index}__]}"/>
            <p th:if="${questionnare.equals('CAPS')} or ${questionnare.equals('TOP8')}" th:text="' - ' + ${answerOptions[__${iter.index}__][__${answer}__]}"/>
            <p th:if="${questionnare.equals('IESR')} or ${questionnare.equals('BHS')}" th:text="' - ' + ${answerOptions[__${answer}__]}"/>
        </div>
        
    </div>
   
    <div th:insert="blocks/footer :: footer"></div>
    
</body>
</html>